<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <!-- CS5356 TODO #1 Add your landing page here -->
  <!-- hero-->
    <section class = "hero is-info">
      <div class = "hero-body">
          <div class = "container">
            <h1 class = "title is-2">Ruffhouse</h1>
            <h2 class = "subtitle is-4">A socializing place for your loving dog</h2>
          </div>
      </div>
    </section>
  <!-- column-->
  <div class = "columns">

    <div class = "column">
      <div class = "card">
        <div class = "card-conent">
          <h1 class = "title is-4">Product Overview</h1>
          A web app that allows for people to share a constant stream of dog pictures
        </div>
        <footer class = "card-footer">
          <div class = "card-footer-item"></div>
        </footer>
      </div>
    </div>

    <div class = "column">
      <div class = "card">
        <div class = "card-conent">
          <h1 class = "title is-4">Feature Sets</h1>
          <div class = "content">
            <ul>
              <li>Share your loving dog's images</li>
              <li>View other dog images</li>
            </ul>
          </div>
        </div>
        <footer class = "card-footer">
          <div class = "card-footer-item"></div>
        </footer>
      </div>
    </div>

    <div class = "column">
      <div class = "column">
        <div class = "card">
          <div class = "card-conent">
            <h1 class = "title is-4">How to sign up</h1>
            Please register with an email address and login password
          </div>
          <footer class = "card-footer">
            <div class = "card-footer-item">
              <a href = "#" class = "button is-link">
                New User Sign up
              </a>
            </div>
            <div class = "card-footer-item">
              <a href = "#" class = "button is-success">
                Existing User Sign in
              </a>
            </div>
          </footer>
        </div>
      </div>
      <div class = "column">
    </div>
  </div>

</body>

<%- include('../partials/footer') %>

</html>