<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="/public/assets/index.css" rel="stylesheet" type="text/css">
    <style>
    </style>
</head>

<body>
  <header>
    <% if(user !== null) { %>
      <%- include('../partials/nav',{ email: user.email }) %>
    <% }else { %>
      <%- include('../partials/nav') %>
    <% }%>
  </header>
  <!-- hero-->
  <div class = "hero-image">
    <div class = "index-hero-text">
      <div class = "header1"><h1 class = "subtitle is-4">Find your Gaming Pals in Gameboard</h1></div>  
      <h2 class = "title is-2 header2">Discord Style Forum for Video Games</h2>
      <% if(user !== null) { %>
        <a href = "/dashboard" class = "button header-nav_b1">
          Go back to my dashboard
        </a>
      <% }else { %>
        <a href = "/sign-in" class = "button header-nav_b1">
          Sign in to learn more
        </a>
      <% }%>
    </div>
      <div class = "columns is-multiline index-c">
        <div class = "column is-half">
          <div class = "card">
            <div class = "card-conent">
              <h3 class = "title is-4 index-cardHeader">Join or create your own discussion group</h1>
              <p class = "index-p">You can create your own game discussion group Gameboard as the admin or explore other popular game discussion groups. Join those that interests you and receive new official annoucements from game companies.</p>
            </div>
          </div>
        </div>
    
        <div class = "column is-half">
          <div class = "card">
            <div class = "card-conent">
              <h3 class = "title is-4 index-cardHeader">Explore different channels</h1>
              <p class = "index-p"> Default channels include meme posting, bug reports, team matching and gaming walkthroughs. 
                You may also create customized channel for your own game</p>
            </div>
          </div>
        </div>
    
        <div class = "column is-half">
            <div class = "card">
              <div class = "card-conent">
                <h3 class = "title is-4 index-cardHeader">Share your gaming experience </h1>
                <p class = "index-p"> Post your gaming insights, questions or walkthroughts in discussion channels. 
                  Make comments to other’s posts and share your concerns. </p>
              </div>
            </div>
        </div>

        <div class = "column is-half">
            <div class = "card">
              <div class = "card-conent">
                <h3 class = "title is-4 index-cardHeader">Provide feedback to game developers</h1>
                <p class = "index-p">Post bug reports and gaming experience suggestion to the feedback channel managed by the game developers. 
                  Give a thumbs up if you see others having the same concerns with you.</p>
              </div>
            </div>
        </div>
      </div>
  </div>
  </body>
</html>