<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link href="/public/assets/sign-up.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <%- include('../partials/nav', { hideSignup: true }) %>
  </header>

  
  <div class = "hero-image">
    <div class = "hero-body">
      <div class = "hero-text">
        <div class = "header1"><h1 class = "title is-2">Ready to try some features?</h1></div>
        <h4 class = "title is-4 intro">Please sign in to start your Gameboard experience</h2>
      </div>
      <section class="section">
        <div class="columns">
          <div class="column is-4 is-offset-4">
            <form id="login-form" class = "box">
              <div class="subtitle is-3 mb-2">
               Register 
              </div>
              <div class = "sidenote"><span>Already having an account?</span><a href="/sign-in">Sign in</a> within a few seconds.
              <span>You may also toggle back to </span><a href="/dashboard">Dashboard</a></div>
              <div class="field">
                <label>New account email</label>
                <p class="control has-icons-left has-icons-right">
                  <input class="input is-success" type="text" name = "login" id = "login">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
        
              <div class="field">
                <label>New account password</label>
                <p class="control has-icons-left has-icons-right">
                  <input class="input is-success" type="password" name = "password" 
                    placeholder="Please enter a password >= 6 digits">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
        
              <div class="box has-text-centered">
                <button class="button is-info is-rounded">Register a new account</button>
              </div>
            </form>

            <div id="login-error" style="display: none;">
            </div>

          </div>
        </div>
      </section>
    </div>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      // Copy your Firebase config here too
      apiKey: "AIzaSyA5vfY17NrDSyCFx7XRfFk93oOACjmVvBg",
      authDomain: "gameboard-75159.firebaseapp.com",
      projectId: "gameboard-75159",
      storageBucket: "gameboard-75159.appspot.com",
      messagingSenderId: "424900204532",
      appId: "1:424900204532:web:fc8ffccc38b350dd258ba1",
      measurementId: "G-7DTR6CHSK9"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        // Create a new user using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard

        //import { getAuth, createUserWithEmailAndPassword } from "firebase/auth";
        //const auth = getAuth();
        app.auth().createUserWithEmailAndPassword(login, password)
          .then((userCredential) => {
            // Signed in 
            const user = userCredential.user;
            user.getIdToken().then((idToken) =>{
              fetch('/sessionLogin', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({idToken})
              }).then(() =>{
              // redirect the browser to a new page.
                window.location.href = '/dashboard'
                return false;
              })
            })
          }).catch((error) => {
            // debugger
            alert('Please check whether you entered a password more than or equal to 6 digits, \
            Otherwise,this email has been registered, please use the login option');
          });
        return false;
      });
  };
</script>

</html>