<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link href="/public/assets/sign-in.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <% if(user !== null) { %>
      <%- include('../partials/nav',{ email: user.email }) %>
    <% }else { %>
      <%- include('../partials/nav',{ hideSignIn: true}) %>
    <% }%>
  </header>

  <div class = "login-hero-image">
    <div class = "hero-body">
      <div class = "sign-in-hero-text">
        <div class = "header1"><h1 class = "title is-2">Ready to try some features?</h1></div>
        <h4 class = "title is-4 intro">Please sign in to continue your Gameboard journey</h2>
      </div>
        <section class="section">
          <div class="columns">
            <div class="column is-4 is-offset-4">
            <form id="login-form" class = "box">
               <div class="subtitle is-3 mb-2 login-subtitle">
                  Welcome back! 
               </div>
              <div class="field">
                <label class = "login-label">Log in with Email</label>
                <p class="control has-icons-left has-icons-right">
                  <input class="input is-success" type="email" name = "login" placeholder="Email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
  
              <label class = "login-label">Password</label>
              <p class="control has-icons-left has-icons-right">
                <input class="input is-success" type="password" name = "password" id="Your password">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </p>
              <div class="has-text-centered sign-in-box">
                <button class="button is-success is-rounded login-button">
                Login to your Gameboard Account
                </button>
              </div>
              <span>New to Gameboard? Try our fast </span><a href="/sign-up" class = "login-toggleLink">Register</a> within a few seconds.
              </div>
            </form>
            </div>>
          </div>
        </section>
    </div>
  </div>
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    const firebaseConfig = {
      // Create your own Firebase project. See the assignment for
      // where you can get the Firebase config
      apiKey: "AIzaSyA5vfY17NrDSyCFx7XRfFk93oOACjmVvBg",
      authDomain: "gameboard-75159.firebaseapp.com",
      projectId: "gameboard-75159",
      storageBucket: "gameboard-75159.appspot.com",
      messagingSenderId: "424900204532",
      appId: "1:424900204532:web:fc8ffccc38b350dd258ba1",
      measurementId: "G-7DTR6CHSK9"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        // Sign in using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard

        //import { getAuth, signInWithEmailAndPassword } from "firebase/auth";
        //const auth = getAuth()
        app.auth().signInWithEmailAndPassword(login, password)
          .then((userCredential) => {
            // Signed in 
            const user = userCredential.user;
            user.getIdToken().then((idToken) =>{
               fetch('/sessionLogin', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({idToken})
              }).then(() =>{
                // redirect the browser to a new page.
                window.location.href = '/dashboard'
                return false;
              }).catch((error) => {
              //debugger
                console.log(error)
              });
            })
          }).catch((error) => {
            //debugger
            alert('Wrong password or the email account is invalid');
          });
        return false;
      });
  };
</script>

</html>