<head>
  <meta charset="UTF-8">
  <title>Gameboard</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="google-site-verification" content="Mo96s2vNNiG4HWtpc1T8Wn4pOiaKmFKZlEYdS83cYMg" />
  <!-- CS5356: Any global css styles can be defined here -->
  <style>
   .navTitle {
      font-family: "Comic Sans MS";
      font-weight: bolder;
    }
    .nav_b1{
      color:#0C92EC;
      background-color: #f5f5f5;
      border-color: transparent;
      font-weight: bolder;
    }
  </style>
</head>