<nav class="navbar is-black">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
          <span class = "navTitle">Gameboard</span>
        </span>
      </a>
    </div>
    <% if(locals.email) { %>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a href="/dashboard" class="navbar-item">
            <%= email %>
              <i class="material-icons">person_outline</i>
          </a>
          <a href="/sessionLogout" class="button nav_b1">Sign out
          </a>
        </div>
      </div>
      <% } else if(locals.hideSignIn) { %>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <a href="/sign-up" class="button nav_b1">Register
              </a>
            </div>
          </div>
        </div>
      <% } else if(locals.hideSignup) { %>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <a href="/sign-in" class="button nav_b1">Login in
              </a>
            </div>
          </div>
        </div>
      <% }else { %>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <p class="control">
                <a href="/sign-in" class="button nav_b1">Login in
                </a>
              </p>
            </div>
            <div class="navbar-item">
              <p class="control">
                <a href="/sign-up" class="button is-info">Register
                </a>
              </p>
            </div>
          </div>
        </div>
      <% }%>
  </div>
</nav>